@webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-size: 2rem;
}

body {
  margin: 0;
  max-width: 30em;
}

img {
  display: block;
  width: 100%;
}

header h1, h2 {
  text-align: center;
  font-size: 1.125rem;
  margin: 0;
}

nav ul li {
  text-decoration: underline;
  list-style-type: none;
  margin-top: -1.05rem;
  padding-left: .8rem;
  padding-right: .8rem;
}

nav {
  margin-right: 1.1rem;
}

header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
}

ul {
  display: flex;
  justify-content: center;
  /* gap: 1rem; */
  font-size: 1.125rem;
  color: #3783a3;
}

.text {
  border-top: 3px solid #e2e2e2;
  border-bottom: 3px solid #e2e2e2;
  padding: 1rem;
  margin: 1.5rem 1rem;
  text-align: center;
}

.text i {
  font-size: 2rem;
  font-style: normal;
  text-align: center;
}

.text p {
  font-size: 1rem;
  text-align: center;
}

section {
  border-bottom: 4px solid #e2e2e2;
}

article img {
  padding-bottom: .5rem;
}

.col1 {
  display: grid;
  grid-template-areas:
  "title1"
  "definition1"
  "button1";
  grid-template-columns: 1fr;
  padding-bottom: 1rem;
}

.col2 {
  display: grid;
  grid-template-areas:
  "title2"
  "definition2"
  "button2";
  grid-template-columns: 1fr;
  padding-bottom: 1rem;
}

.col3 {
  display: grid;
  grid-template-areas:
  "title3"
  "definition3"
  "button3";
  grid-template-columns: 1fr;
  padding-bottom: 1rem;
}

section {
  margin-left: 1rem;
  margin-right: 1rem;
}

article h2 {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1em;
  /* margin-bottom: .5rem; */
  font-style: normal;
}

article span {
  font-size: 1rem;
}

article p {
  font-size: 1rem;
  padding-top: .5rem;
}

article a {
  font-size: 1rem;
  text-decoration: none;
  color: rgba(55, 131, 163, .8);
  border: 3px solid rgba(55, 131, 163, .5);
  border-radius: .3rem;
  padding: .5rem 1em;
  margin: .5rem 0;
}

article i {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}

footer {
  text-align: center;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 100%;
  }

  body {
    max-width: 62rem;
  }

  header {
    display: contents;
    display: grid;
    grid-template-areas:
    "logo nav"
    "banner banner";
    grid-template-columns: 1fr 1fr;
  }

  header h1,
  header h2 {
    grid-area: logo;
    text-align: left;
  }

  header h2 {
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-weight: bold;
  }

  header img {
    grid-area: banner;
    max-width: 100%;
  }

  nav ul {
    margin-right: -1rem;
    justify-content: flex-end;
    padding: 1.5rem 0 0 0;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "text"
    "section";
  }

  .text {
    grid-area: text;
    max-width: 30em;
    justify-content: center;
    padding-top: 1rem;
    margin: 2rem auto 1rem;
    /* align-items: center; */
    /* align-self: center; */
  }

  section {
    display: grid;
    grid-template-columns: 1fr 33.8% 1fr;
    grid-template-areas:
    "col1 col2 col3";
  }

  .col1,
  .col2,
  .col3 {
    display: contents;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /* gap: .2rem; */
    padding: 0 .5rem;
  }

  article p {
    flex-grow: 1;
    font-size: 1rem;
    text-align:inherit;
  }

  article a {
    margin-bottom: 2rem;
  }

  article h2 {
    padding-top: 1.3rem;
    padding-bottom: .5rem;
    font-weight: bold;
}

h2 span {
  padding-bottom: -.5rem;
}

}

@media only screen and (min-width: 62em) {

  html {
    font-size: 100%;
  }

  body {
    max-width: 80rem;
text-align: center;
  }

  .text {
    max-width: 30em;
  }

article {
  text-align: left;
}
